body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}


h1{
    color: rgb(168, 168, 168);
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}
h1> span{
    color: rgb(0, 194, 184);
   
}
.banner-sec> .banner-half> h1{
    font-size: 40px;
}

section{
    border-bottom: 1px solid rgb(179, 179, 179);
}



.banner-sec{
    width: 100vw;
    height: 100vh;
    background-image: url("images/gd1.png");
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    

}



.banner-half{
    padding-left: 200px;
    padding-right: 100px;
    
}
.banner-img{
    padding-right:200px ; 
    /* margin-right: 100px; */
}

.banner-img>img{
    width: 300px;
    border-radius: 40px;
    box-shadow: 2px 2px 6px rgb(32, 32, 32), -2px -2px 6px rgb(31, 31, 31);
}


.dream-sec{
    display:flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("images/gd3.png");
    background-repeat: no-repeat;

    
}

.dream-img> img{
    width: 300px;
    border-radius: 40px;
    box-shadow: 2px 2px 6px rgb(32, 32, 32), -2px -2px 6px rgb(31, 31, 31);

}
.dream-img{
    padding-left:200px ;
    

}

.dream-half>h1{
    
    font-size: 40px;
    


}

.dream-half{
    padding-left: 100px;
    padding-right: 200px; 
}


.btn{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;

    
    
    background-image: linear-gradient( rgb(8, 245, 206), rgb(2, 2, 32));


}


.exp-items{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    

}

.exp-sec{
    background-image: url("images/gd2.png");
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}

#exp1{
  padding: 20px;
  box-shadow: 2px 2px 13px rgb(0, 0, 0);
  margin-right: 50px;
  margin-left: 200px;
  border-top: 7px solid;
  border-image: linear-gradient(to bottom right, rgb(0, 49, 61) , rgb(0, 255, 234));
  border-image-slice:1;

  border-radius: 12px;

}

#exp2{
    padding: 20px;
    box-shadow: 2px 2px 13px black;
    margin-left: 50px;
    margin-right: 200px;
    border-radius: 12px;
    border-top: 7px solid;
    
    border-image: linear-gradient(to bottom right, rgb(0, 118, 122) , rgb(1, 27, 37));
    border-image-slice:1;
  
    
}

.exp-sec>h1{
    padding-top: 100px;
    margin-bottom: -150px;
}


h2{
    font-size: 30px;
    color: grey;
    text-shadow: 2px 2px 2px black;
}

footer>p{
    text-align: center;
}
